### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [186]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait

In [34]:
driver = webdriver.Chrome(r"chromedriver.exe")
time.sleep(2)
driver.get("https://www.naukri.com/")
search_field_dsignation=driver.find_element_by_class_name("suggestor-input ")
search_field_dsignation.send_keys("Data Analyst")
search_field_location=driver.find_element_by_xpath("//*[@id='root']/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_field_location.send_keys("Bangalore")
search_button=driver.find_element_by_class_name("qsbSubmit")
search_button.click()

In [35]:
job_titles=[]
compay_names=[]
experience_list=[]
location_list=[]

job_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in job_tags:
    job_title=i.text
    job_titles.append(job_title)
job_titles=job_titles[:10]

cmpany_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in cmpany_tag:
    company_name=i.text
    compay_names.append(company_name)
compay_names=compay_names[:10]

experience_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in experience_tag:
    exp = i.text
    experience_list.append(exp)
experience_list=experience_list[:10]

location_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")
for i in location_tag:
    loc=i.text
    location_list.append(loc)
location_list=location_list[:10]

df1 = pd.DataFrame({"Job Title":job_titles,"Job Location":location_list,"Company Name":compay_names,"Experience Required":experience_list})
df1

,Job Title,Job Location,Company Name,Experience Required
0,Sr Domain Expert -Data Analysts,Bangalore/Bengaluru,Siemens,0-10 Yrs
1,Staff Business Data Analyst - FDP,Bangalore/Bengaluru,Intuit Inc.,5-7 Yrs
2,Data Analyst,Bangalore/Bengaluru,Vedantu Innovations,0-3 Yrs
3,Data Analyst 2,Bangalore/Bengaluru,PayPal,5-8 Yrs
4,Senior Data Analyst,Bangalore/Bengaluru,Flipkart,3-6 Yrs
5,Senior Professional Data Analyst,Bangalore/Bengaluru,DXC Technology,3-7 Yrs
6,MDM - Data Analyst,Bangalore/Bengaluru,Shell,3-4 Yrs
7,Opening For Data Analyst ll Bangalore ll Unaca...,Bangalore/Bengaluru,Unacademy,2-7 Yrs
8,Senior Data Analyst - Sales Analytics (Remote),Remote,AIRMEET NETWORKS PRIVATE LIMITED,4-5 Yrs
9,Senior Data Analyst,Bangalore/Bengaluru,Thomson Reuters,3-8 Yrs

### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [37]:
driver = webdriver.Chrome(r"chromedriver.exe")
time.sleep(2)
driver.get("https://www.naukri.com/")
search_field_dsignation=driver.find_element_by_class_name("suggestor-input ")
search_field_dsignation.send_keys("Data Scientist")
search_field_location=driver.find_element_by_xpath("//*[@id='root']/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_field_location.send_keys("Bangalore")
search_button=driver.find_element_by_class_name("qsbSubmit")
search_button.click()

In [38]:
job_titles=[]
compay_names=[]
experience_list=[]
location_list=[]

job_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in job_tags:
    job_title=i.text
    job_titles.append(job_title)
job_titles=job_titles[:10]

cmpany_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in cmpany_tag:
    company_name=i.text
    compay_names.append(company_name)
compay_names=compay_names[:10]

experience_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in experience_tag:
    exp = i.text
    experience_list.append(exp)
experience_list=experience_list[:10]

location_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")
for i in location_tag:
    loc=i.text
    location_list.append(loc)
location_list=location_list[:10]

df1 = pd.DataFrame({"Job Title":job_titles,"Job Location":location_list,"Company Name":compay_names,"Experience Required":experience_list})
df1

,Job Title,Job Location,Company Name,Experience Required
0,Senior Data Scientist,Bangalore/Bengaluru,Flipkart,5-8 Yrs
1,Senior Data Scientist,Bangalore/Bengaluru,GSK India,5-9 Yrs
2,DATA Scientist with Fraud Analytics Experience,Bangalore/Bengaluru,Concentrix,2-4 Yrs
3,Principal Data Scientist,Bangalore/Bengaluru,Meesho,6-10 Yrs
4,Senior Data Scientist,Bangalore/Bengaluru,Zoom Start India,3-6 Yrs
5,Principal Data Scientist,Bangalore/Bengaluru,"Rakuten, Inc.",7-12 Yrs
6,Data Scientist Opportunity with PayU ( Tier1 i...,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",PayU,2-5 Yrs
7,Data Scientist 1,Bangalore/Bengaluru,PayPal,4-8 Yrs
8,Developer Associate - Data Scientist(1-3Y),"Bangalore/Bengaluru, Bengaluru/Bangalore",SAP India Pvt.Ltd,5-9 Yrs
9,Data Scientist,Bangalore/Bengaluru,Apptio INC,1-3 Yrs

### Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
### You have to use the location and salary filter.
### You have to scrape data for “Data Scientist” designation for first 10 job results.
### You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [73]:
driver = webdriver.Chrome(r"chromedriver.exe")
driver.maximize_window()
time.sleep(2)
driver.get("https://www.naukri.com/")
search_field_dsignation=driver.find_element_by_class_name("suggestor-input ")
search_field_dsignation.send_keys("Data Scientist")
search_field_location=driver.find_element_by_xpath("//*[@id='root']/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_field_location.send_keys("Bangalore")
search_button=driver.find_element_by_class_name("qsbSubmit")
search_button.click()
time.sleep(10)

filter_salary=driver.find_element_by_xpath("//input[@id='chk-3-6 Lakhs-ctcFilter-']/following-sibling::label/i[@class='fleft naukicon naukicon-checkbox']")

WebDriverWait(driver, 10).until(expected_conditions.visibility_of_element_located((By.XPATH, "//input[@id='chk-3-6 Lakhs-ctcFilter-']/following-sibling::label/i[@class='fleft naukicon naukicon-checkbox']")))

#driver.execute_script("return arguments[0].scrollIntoView(true);", filter_salary)
#time.sleep(10)
#filter_salary.click()

#filter_location=driver.find_element_by_xpath("//span[contains(@class, 'fw500') and text() = 'Location']/parent::div/following-sibling::div//a")
#filter_location.click()
#filter_loction_dncr=driver.find_element_by_xpath("//div[@id='tooltip']//div//div//label//p//span[contains(text(),'Delhi / NCR')]")
#filter_loction_dncr.click()

In [ ]:
#//span[contains(@class, 'fw500') and text() = 'Location']/parent::div/following-sibling::div//a
                
#//div[@id='tooltip']//div//div//label//p//span[contains(text(),'Delhi / NCR')]

### Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
<br>The attributes which you have to scrape is ticked marked in the below image.

In [124]:
driver = webdriver.Chrome(r"chromedriver.exe")
driver.maximize_window()
time.sleep(2)
driver.get("https://www.flipkart.com/")

WebDriverWait(driver,10).until(expected_conditions.visibility_of_element_located((By.XPATH,"//button[@class='_2KpZ6l _2doB4z']"))).click()

f_search_field=driver.find_element_by_name("q")
f_search_field.send_keys("sunglasses")
f_search_button=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
f_search_button.click()
time.sleep(1)

brand_names=[]
product_descriptions=[]
prices=[]
discounts=[]

def data_list(lists, xpath):
    tags = driver.find_elements_by_xpath(xpath)
    for i in tags:
        lists.append(i.text)
    return lists

brand_name_xpath="//div[@class='_2WkVRV']"
product_description_xpath="//a[@class='IRpwTa']"
price_xpath="//div[@class='_30jeq3']"
discount_xpath="//div[@class='_3Ay6Sb']/span"

data_list(brand_names,brand_name_xpath)
data_list(product_descriptions,product_description_xpath)
data_list(prices,price_xpath)
data_list(discounts,discount_xpath)

click_next=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
click_next.click()
time.sleep(3)

data_list(brand_names,brand_name_xpath)
data_list(product_descriptions,product_description_xpath)
data_list(prices,price_xpath)
data_list(discounts,discount_xpath)

click_next=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
click_next.click()
time.sleep(3)

data_list(brand_names,brand_name_xpath)
data_list(product_descriptions,product_description_xpath)
data_list(prices,price_xpath)
data_list(discounts,discount_xpath)


f_df = pd.DataFrame({"Brand Names":brand_names[:100],
                     "Product Descriptions":product_descriptions[:100],
                     "Prices":prices[:100],
                     "Discounts":discounts[:100]
                    })
f_df

,Brand Names,Product Descriptions,Prices,Discounts
0,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹614,79% off
1,Singco India,"UV Protection, Riding Glasses, Others Aviator,...",₹167,76% off
2,SRPM,UV Protection Wayfarer Sunglasses (50),₹199,84% off
3,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹709,21% off
4,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹202,92% off
...,...,...,...,...
95,ROZZETTA CRAFT,"Gradient, UV Protection Round Sunglasses (Free...",₹376,81% off
96,kingsunglasses,UV Protection Round Sunglasses (Free Size),₹259,83% off
97,SRPM,"Others Wayfarer, Retro Square Sunglasses (50)",₹189,81% off
98,New Specs,"Mirrored, UV Protection, Riding Glasses, Other...",₹233,85% off
99,VINCENT CHASE,UV Protection Cat-eye Sunglasses (54),₹599,70% off

### Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage .
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.
Note: All the steps required during scraping should be done

In [133]:
driver = webdriver.Chrome(r"chromedriver.exe")
driver.maximize_window()
time.sleep(2)
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace")

all_review_button=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']/span")
all_review_button.click()
time.sleep(2)

def data_list(lists, xpath):
    tags = driver.find_elements_by_xpath(xpath)
    for i in tags:
        lists.append(i.text)
    return lists

rating_list=[]
review_summary_list=[]
full_review_lits=[]

rating_xpath="//div[@class='_3LWZlK _1BLPMq']"
review_summary_xpath="//p[@class='_2-N8zT']"
full_review_xpath="//div[@class='t-ZTKy']/div/div"

data_list(rating_list,rating_xpath)
data_list(review_summary_list,review_summary_xpath)
data_list(full_review_lits,full_review_xpath)

click_next=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
click_next.click()
time.sleep(3)

data_list(rating_list,rating_xpath)
data_list(review_summary_list,review_summary_xpath)
data_list(full_review_lits,full_review_xpath)
click_next=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
click_next.click()
time.sleep(3)

data_list(rating_list,rating_xpath)
data_list(review_summary_list,review_summary_xpath)
data_list(full_review_lits,full_review_xpath)
click_next=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
click_next.click()
time.sleep(3)

data_list(rating_list,rating_xpath)
data_list(review_summary_list,review_summary_xpath)
data_list(full_review_lits,full_review_xpath)
click_next=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
click_next.click()
time.sleep(3)

data_list(rating_list,rating_xpath)
data_list(review_summary_list,review_summary_xpath)
data_list(full_review_lits,full_review_xpath)
click_next=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
click_next.click()
time.sleep(3)

data_list(rating_list,rating_xpath)
data_list(review_summary_list,review_summary_xpath)
data_list(full_review_lits,full_review_xpath)
click_next=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
click_next.click()
time.sleep(3)

data_list(rating_list,rating_xpath)
data_list(review_summary_list,review_summary_xpath)
data_list(full_review_lits,full_review_xpath)
click_next=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
click_next.click()
time.sleep(3)

data_list(rating_list,rating_xpath)
data_list(review_summary_list,review_summary_xpath)
data_list(full_review_lits,full_review_xpath)
click_next=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
click_next.click()
time.sleep(3)

data_list(rating_list,rating_xpath)
data_list(review_summary_list,review_summary_xpath)
data_list(full_review_lits,full_review_xpath)
click_next=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
click_next.click()
time.sleep(3)

data_list(rating_list,rating_xpath)
data_list(review_summary_list,review_summary_xpath)
data_list(full_review_lits,full_review_xpath)
click_next=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
click_next.click()
time.sleep(3)

f_snkr_df = pd.DataFrame({"Rating":rating_list[:100],
                     "Review Summary":review_summary_list[:100],
                     "Full Review":full_review_lits[:100]
                    })
f_snkr_df

,Rating,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Worth every penny,Previously I was using one plus 3t it was a gr...
96,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
97,4,Good choice,So far it’s been an AMAZING experience coming ...
98,5,Highly recommended,What a camera .....just awesome ..you can feel...
99,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."

### Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes.

In [125]:
driver = webdriver.Chrome(r"chromedriver.exe")
driver.maximize_window()
time.sleep(2)
driver.get("https://www.flipkart.com/")

WebDriverWait(driver,10).until(expected_conditions.visibility_of_element_located((By.XPATH,"//button[@class='_2KpZ6l _2doB4z']"))).click()

f_search_field=driver.find_element_by_name("q")
f_search_field.send_keys("sneakers")
f_search_button=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
f_search_button.click()
time.sleep(1)

brand_names=[]
product_descriptions=[]
prices=[]
discounts=[]

def data_list(lists, xpath):
    tags = driver.find_elements_by_xpath(xpath)
    for i in tags:
        lists.append(i.text)
    return lists

brand_name_xpath="//div[@class='_2WkVRV']"
product_description_xpath="//a[@class='IRpwTa']"
price_xpath="//div[@class='_30jeq3']"
discount_xpath="//div[@class='_3Ay6Sb']/span"

data_list(brand_names,brand_name_xpath)
data_list(product_descriptions,product_description_xpath)
data_list(prices,price_xpath)
data_list(discounts,discount_xpath)

click_next=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
click_next.click()
time.sleep(3)

data_list(brand_names,brand_name_xpath)
data_list(product_descriptions,product_description_xpath)
data_list(prices,price_xpath)
data_list(discounts,discount_xpath)

click_next=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
click_next.click()
time.sleep(3)

data_list(brand_names,brand_name_xpath)
data_list(product_descriptions,product_description_xpath)
data_list(prices,price_xpath)
data_list(discounts,discount_xpath)


f_df = pd.DataFrame({"Brand Names":brand_names[:100],
                     "Product Descriptions":product_descriptions[:100],
                     "Prices":prices[:100],
                     "Discounts":discounts[:100]
                    })
f_df

,Brand Names,Product Descriptions,Prices,Discounts
0,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹469,70% off
1,KWIK FIT,Kwik FIT casual sneaker shoes and partywear sh...,₹349,82% off
2,Magnolia,Sneakers For Men,₹374,62% off
3,ASTEROID,Original Luxury Branded Fashionable Men's Casu...,₹424,78% off
4,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹209,83% off
...,...,...,...,...
95,Rzisbo,"Casuals, Canvas, Partywear Sneakers For Men",₹499,50% off
96,Labbin,Men 5014 Latest Collection Stylish Casual Spor...,₹424,57% off
97,D-SNEAKERZ,Sneakers For Men,₹249,62% off
98,SCATCHITE,Perfect Combo Pack of 03 Pairs Casual Sneakers...,₹348,65% off
99,ZF - ALFIYA,sneaker men red 1258 - 6 Sneakers For Men,₹374,62% off

### Q7: Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image. And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe.

In [155]:
driver = webdriver.Chrome(r"chromedriver.exe")
driver.maximize_window()
driver.get("https://www.myntra.com/shoes")
time.sleep(1)

price_filter=driver.find_element_by_xpath("//label[contains(@class,'common-customCheckbox vertical-filters-label') and text()='Rs. 7187 to Rs. 14125']")
price_filter.click()
time.sleep(1)
color_filter=driver.find_element_by_xpath("//span[contains(@class,'colour-label colour-colorDisplay') and @data-colorhex='black']")
color_filter.click()
time.sleep(1)
def data_list(lists, xpath):
    tags = driver.find_elements_by_xpath(xpath)
    for i in tags:
        lists.append(i.text)
    return lists

brand=[]
product_desc=[]
m_price=[]

brand_xpath="//h3[@class='product-brand']"
product_desc_xpath="//h4[@class='product-product']"
m_price_xpath="//div[@class='product-price']"

data_list(brand,brand_xpath)
data_list(product_desc,product_desc_xpath)
data_list(m_price,m_price_xpath)

click_next=driver.find_element_by_xpath("//span[@class='pagination-arrowRight']")
click_next.click()
time.sleep(1)
data_list(brand,brand_xpath)
data_list(product_desc,product_desc_xpath)
data_list(m_price,m_price_xpath)

Shoes = pd.DataFrame({})
Shoes['Brand Name'] = brand
Shoes['Price'] = m_price
Shoes['Description'] = product_desc
Shoes

,Brand Name,Price,Description
0,ALDO,Rs. 11199Rs. 15999(30% OFF),Men Leather Loafers
1,ALDO,Rs. 9099Rs. 12999(30% OFF),Men Leather Driving Shoes
2,Nike,Rs. 8295,Men JORDAN ONE Basketball
3,ALDO,Rs. 9099Rs. 12999(30% OFF),Men Printed Sneakers
4,Skechers,Rs. 7649Rs. 8999(15% OFF),Men Max Cushioning Running
...,...,...,...
95,Heel & Buckle London,Rs. 12990,Men Suede Loafers
96,ROSSO BRUNELLO,Rs. 10999,Men Leather Formal Oxfords
97,Heel & Buckle London,Rs. 13990,Men Leather Sneakers
98,Cole Haan,Rs. 11999,Women Open Toe Flats
99,Cole Haan,Rs. 12999,Women Sneakers

### Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [166]:
driver = webdriver.Chrome(r"chromedriver.exe")
driver.maximize_window()
driver.get("https://www.amazon.in/")
time.sleep(1)

search_box=driver.find_element_by_id("twotabsearchtextbox")
search_box.send_keys("Laptop")

a_search=driver.find_element_by_id("nav-search-submit-button")
a_search.click()
time.sleep(1)

i7=driver.find_element_by_xpath("//*[@id='p_n_feature_thirteen_browse-bin/12598163031']/span/a/div")
i7.click()
time.sleep(1)
#i9=driver.find_element_by_xpath("//li[@id='p_n_feature_thirteen_browse-bin/16757432031']/span/a")
#i9.click()
#time.sleep(1)
titles = driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
laptop = []
for i in titles:
    laptop.append(i.text)
    
prc = driver.find_elements_by_xpath("//span[@class='a-price-whole']")
price = []
for i in prc:
    price.append(i.text)
    
Laptops = pd.DataFrame({})
Laptops['Brand Name'] = laptop[:10]
Laptops['Price on Amazon'] = price[:10]
Laptops

                                          Brand Name Price on Amazon
0  Samsung Galaxy Book2 Pro 360 Intel 12th Gen i7...        1,29,990
1  Samsung Galaxy Book2 Pro 360 Intel 12th Gen i7...        1,20,990
2  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...          57,490
3  HP Pavilion 14, 11th Gen Intel Core i7-16GB RA...          86,990
4  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....          86,990
5  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...          81,990
6  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...          89,990
7  Samsung Galaxy Book2 360 Intel 12th Gen i7 Evo...        1,05,990
8  LG Gram Intel Evo 11th Gen Core i7 17 inches U...          94,999
9  LG Gram 14 inches Ultra-Light Intel Evo 11th G...          88,499

### Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter “Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

In [179]:
driver = webdriver.Chrome(r"chromedriver.exe")
driver.maximize_window()
driver.get("https://www.ambitionbox.com/")
time.sleep(1)

click_on_job=driver.find_element_by_xpath("//a[@class='link jobs']")
click_on_job.click()
time.sleep(2)

enter_job=driver.find_element_by_xpath("//input[@class='input tt-input']")
enter_job.send_keys("Data Scientist")
enter_job.send_keys(Keys.ENTER)
time.sleep(3)
driver.refresh()
time.sleep(3)
loc_drpdown=driver.find_element_by_xpath("//div[contains(@title,'Location')]/p")
loc_drpdown.click()

loc_search_box=driver.find_element_by_xpath("//div[@class='searchbox']/input[@placeholder='Search locations']")
loc_search_box.send_keys("Noida")

select_noida=driver.find_element_by_xpath("//label[@for='location_Noida']")
select_noida.click()
time.sleep(2)

def data_list(lists, xpath):
    tags = driver.find_elements_by_xpath(xpath)
    for i in tags:
        lists.append(i.text)
    return lists

company_list=[]
company_list_xpath="//p[@class='company body-medium']"

rating_list=[]
rating_list_xpath="//div[@class='rating-wrapper']/a[1]/span"

days_ago_list=[]
days_ago_list_xpath="//div[@class='other-info']//span[1]"

data_list(company_list,company_list_xpath)
data_list(rating_list,rating_list_xpath)
data_list(days_ago_list,days_ago_list_xpath)

job_df=pd.DataFrame({})
job_df["Company"]=company_list[:10]
job_df["Rating"]=rating_list[:10]
job_df["Posted days ago"]=days_ago_list[:10]

job_df

                                          Company Rating Posted days ago
0  Optum Global Solutions (India) Private Limited    4.1         15d ago
1                               Tech Mahindra Ltd    4.1         14d ago
2                   GENPACT India Private Limited    3.7         17d ago
3                                HCL Technologies    4.0         21d ago
4  Optum Global Solutions (India) Private Limited    3.8        1mon ago
5               Newgen Software Technologies Ltd.    4.1          1d ago
6                               JK Technosoft Ltd    3.5         10d ago
7                      Pitney Bowes India Pvt Ltd    3.6        1mon ago
8               Microsoft India (R and D) Pvt Ltd    4.2        1mon ago
9                     Paytm Payments Bank Limited    4.2         20d ago

### Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary. The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [214]:
driver = webdriver.Chrome(r"chromedriver.exe")
driver.maximize_window()
driver.get("https://www.ambitionbox.com/")
time.sleep(1)

click_on_salary=driver.find_element_by_xpath("//a[@class='link salaries']")
click_on_salary.click()
time.sleep(2)

enter_job=driver.find_element_by_xpath("//input[@class='tt-input']")
enter_job.send_keys("Data Scientist")
time.sleep(2)
click_on_ds=driver.find_elements_by_xpath("//p[contains(text(),'Data Scientist')]")
click_on_ds[0].click()
time.sleep(2)
def data_list(lists, xpath):
    tags = driver.find_elements_by_xpath(xpath)
    for i in tags:
        lists.append(i.text)
    return lists

c_name=[]
c_name_xpath="//div[@class='company-info']/div[@class='name']/a"
no_of_salaries=[]
no_of_salaries_xpath="//div[@class='company-info']/div[@class='name']/span"
min_salary=[]
min_salary_xpath="//div[@class='salary-values']/div[1]"
max_salary=[]
max_salary_xpath="//div[@class='salary-values']/div[2]"
mean_salary=[]
mean_salary_xpath="//p[@class='averageCtc']"

data_list(c_name,c_name_xpath)
time.sleep(2)
data_list(no_of_salaries,no_of_salaries_xpath)
time.sleep(2)
data_list(min_salary,min_salary_xpath)
time.sleep(2)
data_list(max_salary,max_salary_xpath)
time.sleep(2)
data_list(mean_salary,mean_salary_xpath)
time.sleep(2)

a_data_df= pd.DataFrame({
    "Company Name":c_name[:10],
    "Number of Salaries":no_of_salaries[:10],
    "Minimum Salary":min_salary[:10],
    "Mean Salary":mean_salary[:10],
    "Maximum Salary":max_salary[:10]
})
a_data_df

,Company Name,Number of Salaries,Minimum Salary,Mean Salary,Maximum Salary
0,Walmart,based on 11 salaries,₹ 25.0L,₹ 29.7L,₹ 35.0L
1,Ab Inbev,based on 31 salaries,₹ 15.0L,₹ 20.5L,₹ 25.5L
2,Reliance Jio,based on 10 salaries,₹ 5.6L,₹ 18.9L,₹ 26.2L
3,ZS,based on 15 salaries,₹ 9.8L,₹ 15.9L,₹ 20.0L
4,Optum,based on 28 salaries,₹ 11.0L,₹ 15.4L,₹ 22.4L
5,Fractal Analytics,based on 81 salaries,₹ 9.5L,₹ 15.1L,₹ 22.0L
6,Tiger Analytics,based on 46 salaries,₹ 9.0L,₹ 14.8L,₹ 20.0L
7,UnitedHealth,based on 53 salaries,₹ 8.3L,₹ 14.0L,₹ 20.5L
8,Verizon,based on 14 salaries,₹ 10.0L,₹ 12.7L,₹ 21.0L
9,Ganit Business Solutions,based on 13 salaries,₹ 8.5L,₹ 12.4L,₹ 15.0L

In [215]:
driver.close()